{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<br>
<form method = post>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password1" name="password1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Re-enter Password</label>
        <input type="password" class="form-control" id="password2" name="password2">
      </div>
    <button type="button" class="btn btn-success">Sign Up</button>
  </form>

{% endblock %}